{% extends "posts_div.html" %} {% block title %}About Me{% endblock %}{% block content
%}

 <h1 align="center">About</h1>
<p align="center">Welcome to Job Satellite, the out of this world professional network prime to revolutionize the way engineers apply for jobs.</p>
 <p align="center">Our mission is to help engineers around the globe showcase projects in order to connect them with employers eager to change the world.</p>
 <p align="center">Founded in 2021, Job Satellite began with two things: a fledgling programmer and a dream.</p>
 <center><img src="{{url_for('static',filename='Satellite.jpg')}}" style="width:400px; height:400px;" alt="Logo" class = ".centerImage"><center>
{% endblock %}
